<h1>Profil de <%= @user.email %></h1>
<p><strong>Prénom:</strong> <%= @user.first_name %></p>
<p><strong>Nom:</strong> <%= @user.last_name %></p>
<p><strong>Description:</strong> <%= @user.description %></p>
<p><strong>E-mail:</strong> <%= @user.email %></p>

<h2>Événements administrés par <%= @user.email %></h2>
<% @administered_events.each do |event| %>
  <p><%= link_to event.title, event_path(event) %></p>
<% end %>

<%= link_to "Modifier mon profil", edit_user_registration_path, class: "btn btn-primary" %>
