<%= form_with(model: @event, url: events_path, method: :post, remote: false) do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :start_date, class: "form-label" %>
    <%= form.date_field :start_date, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :duration, class: "form-label" %>
    <%= form.number_field :duration, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :location, class: "form-label" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>
  <%= form.submit "Créer l'événement", class: "btn btn-primary" %>
<% end %>
